<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B00C09A015E52112009D55B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B00C5459165D987400C0D69A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B00C547A165D9A7200C0D69A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B080B08215F2B3BD00346466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B080B0A115F2B42B00346466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B080B0BE15F2B45C00346466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B080B0DB15F2B48800346466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B08A2AFD15F7B1EF00A64A6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0A7AD6E15E6EAF400C86206</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
