<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HandFit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HandPose.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TestBFGS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>TestDE.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TestLM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TestLPRPSO.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>TestNM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>TestPSO.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TestSDB.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B00C09A015E52112009D55B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B00C5459165D987400C0D69A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B00C547A165D9A7200C0D69A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B080B08215F2B3BD00346466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B080B0A115F2B42B00346466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B080B0BE15F2B45C00346466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B080B0DB15F2B48800346466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B08A2AFD15F7B1EF00A64A6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0A7AD6E15E6EAF400C86206</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
