toy_hand_data
*.log
*.net
*.net.settings.csv
hand_depth_data_processed
results
hand_depth_data_processed*.zip
~*xlsx
temp.lua
kinect_depth_image_uncompressed_down_float.bin
handmodel.net.convnet
hand_nets_2.lua
hand_nets_3.lua
handmodel*
Build
lena_image_processed.bin
hand_nets2.lua
hand_nets3.lua
hand_nets4.lua
convnet.zip